{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css">
    

    
</head>
<body class="img-fluid" style="background-image: url('https://images.wallpaperscraft.com/image/snow_mountains_dawn_122302_3840x2160.jpg');background-repeat: no-repeat;background-size:cover;
background-position: center center;background-attachment: fixed;">
    <header class="site-header">
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark primary-color">

        <!-- Navbar brand -->
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/">Home
                <span class="sr-only"></span>
              </a>
            </li>
            

            <!-- Dropdown -->
            

          </ul>
          <!-- Links -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            
            <a class="nav-item nav-link" href="/user/profile/">{{user.username}}</a>
            <!-- <a class="nav-item nav-link" href="/store/book/new/">Add New Book</a>
            <a class="nav-item nav-link" href="/store/books/">Books Lists</a> -->
            <a class="nav-item nav-link" href="/user/logout/">Logout</a>
            <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button onclick="fetchUser()" class="btn btn-outline-primary" style="">search</button>
            {% else %}
            <a class="nav-item nav-link" href="/user/login">Login</a>
            <a class="nav-item nav-link" href="/user/register/">Register</a>
            {% endif %}
          </div>

          <!-- <form class="form-inline" > -->
            <div class="md-form my-0">
              
            </div>
          <!-- </form> -->
        </div>
        <!-- Collapsible content -->

      </nav>
      
    </header>
    <div class="view"  >
      <main role="main" class="container">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
      </main>

	 </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'base.js' %}"></script>
</body>
</html>