{% extends "base.html" %}
{% block content %}
    <!-- <div class="container" >
    	<div class= "row" style="padding-top: 200px;">
    		<div class="col bg-success" style="padding: 20px; font-size: 30px;font-family: Courier New">here we are</div>

    	</div>

    	<div class= "row">
    		<div class="col bg-warning">uwgefuiwgfuwe</div>

    	</div>

    	<div class= "row">
    		<div class="col bg-success">whfwgfgfuiwf</div>

    	</div>

    	<div class= "row">
    		<div class="col bg-warning">kwfwgfgwegfu</div>

    	</div>
    	
    </div> -->
{% endblock content %}